<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href='/user'>MUZIK.com</a>

    <ul class="pure-menu-list">
      {{!-- <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li> --}}
      <li class="pure-menu-item"><a href="/user/logout" class="pure-menu-link">Logout</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <form class="pure-form playlist" action='/playlist/create' method='POST'>
      <p class='splash-subhead'>
        {{flash}}
      </p>
      <input type="text" placeholder="Type in the name of your new playlist here" required=true name='playlistName'>
      <button class="pure-button pure-button-primary">Create</button>
    </form>
    {{!-- <h1 class="splash-head">Create a playlist</h1> --}}
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Scroll to view playlists</h2>

    <div class="pure-g">

      {{#each playlists as |playlist|}}

        <div class="l-box pure-u-1-2 is-center">
          <button type="button" class="playlist_delete" data-playlistId= {{playlist.id}} name="button">Delete</button>
          <button type="button" class="content-subhead playlistEdit" name="button" data-playlistId= {{playlist.id}}>{{playlist.name}}</button>
          <div class="tablediv" style='height:22vw; overflow-y:auto;'>

            <table class="pure-table table-addition">

              <thead>
                <tr style='text-align: center;'>
                  <th>Remove</th>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th>Track</th>
                </tr>
              </thead>

              {{#each playlist.songs as |song|}}

                <tbody>
                  <tr>
                    <td><button class='removeSong' data-playlistId= {{playlist.id}} data-songId= {{song.id}}>Click to delete</button></td>
                    <td>{{song.name}}</td>
                    <td>{{song.artist}}</td>
                    <td>{{song.album}}</td>
                    <td><iframe class='change' frameborder='0' width='80px' allowtransparency='true' src= {{song.embed}}></iframe></td>
                  </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  {{!-- <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div> --}}

</div>
